<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ABC App | Admin</title>
</head>
<body>
  <h1>Welcome Admin!</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, ducimus! Error vitae nostrum obcaecati numquam blanditiis, vero dignissimos nam voluptatum! Earum et reprehenderit assumenda omnis nam nobis fugit exercitationem, dolorum quod unde. Quas ea amet, cupiditate dolorum aspernatur nostrum voluptatum doloribus reiciendis eveniet esse voluptates illum beatae repellat magni sit.</p>
  <hr>
  <p>525 users have signed up to the platform!</p>
</body>
</html>