<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ABC App | Login</title>
</head>
<body>
  <h1>Login</h1>
  <form method="POST" action="/api/login">
    <input type="email" placeholder="Enter your email" name="email"><br><br>
    <input type="password" placeholder="Enter password" name="password"><br><br>
    <button>Login</button>
  </form>
</body>
</html>